<section class="container" [ngClass]="formStatus">
    <header>Registration Form</header>
    <button class="btn btn-warning" (click)="setDefaultData()"> set Data</button>
    <form class="form" [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
      <div class="column">
        <div class="input-box">
          <input type="text" placeholder="First Name" [(ngModel)]="fname" name="fname" formControlName="fname" />
          <span class="invalidMesage" *ngIf="reactiveForm.get('fname')?.invalid && reactiveForm.get('fname')?.touched ">
            <span class="invalidMesage" *ngIf="reactiveForm.get('fname')?.errors?.['required'] && !reactiveForm.get('fname')?.value ">*firstname can not be Empty</span>
            <span class="invalidMesage" *ngIf="reactiveForm.get('fname')?.errors?.['spaceNotAllowed'] && reactiveForm.get('fname')?.value ">Space Not allowed in firstname</span>

            </span>
        </div>
        <div class="input-box">
          <input type="text" placeholder="Last Name"  [(ngModel)]="lname" name="lname" formControlName="lname"/>
          <span class="invalidMesage" *ngIf="reactiveForm.get('lname')?.invalid && reactiveForm.get('lname')?.touched ">
            <span class="invalidMesage" *ngIf="reactiveForm.get('lname')?.errors?.['required'] && !reactiveForm.get('lname')?.value ">*lastname can not be Empty</span>
            <span class="invalidMesage" *ngIf="reactiveForm.get('lname')?.errors?.['spaceNotAllowed'] && reactiveForm.get('lname')?.value ">Space Not allowed in lastname</span>

            
          </span>

        </div>
      </div>    
  

      <div class="column">
        <div class="input-box">
          <input type="text" placeholder="Email" formControlName="email"/>
          <span class="invalidMesage" *ngIf="reactiveForm.get('email')?.invalid && reactiveForm.get('email')?.touched ">
            <span class="invalidMesage" *ngIf="reactiveForm.get('email')?.errors!['required'] && !reactiveForm.get('email')?.value ">Email can not be empty</span>
              <span class="invalidMesage" *ngIf="reactiveForm.get('email')?.errors!['email'] && reactiveForm.get('email')?.value ">plzz input valid email id</span>  
            </span>
        </div>
        <div class="input-box">
          <input type="number" placeholder="Contact"   name="contact" formControlName="contact"/>
          <span class="invalidMesage" *ngIf="reactiveForm.get('contact')?.invalid && reactiveForm.get('contact')?.touched ">
            <span class="invalidMesage" *ngIf="reactiveForm.get('contact')?.errors?.['required'] && !reactiveForm.get('contact')?.value ">*contact can not be Empty</span>
            <!-- <span class="invalidMesage" *ngIf="reactiveForm.get('contact')?.errors?.['inValidcontact'] && reactiveForm.get('contact')?.value ">invalid contact number</span> -->

            
          </span>


      </div>
      </div>

      
      <div class="column">
        <div class="input-box">
          <input type="text" placeholder="username"  formControlName="username"/> 
          <span class="invalidMesage" *ngIf="reactiveForm.get('username')?.invalid && reactiveForm.get('username')?.value" >invalid username</span>
          <span class="invalidMesage" *ngIf="reactiveForm.get('username')?.invalid && reactiveForm.get('username')?.touched" >username can not be empty</span>
          <span class="statusMsg" *ngIf="status==='PENDING'" >username Checking wait....</span>
          <!-- <span class="statusMsg" *ngIf="status==='INVALID'" >username can not be empty</span> -->


          <button class="btn-gen-username" type="button" (click)="createUsername()"
        [disabled]="reactiveForm.get('fname')?.invalid || reactiveForm.get('lname')?.invalid || reactiveForm.get('dob')?.invalid"
        >
          Create a Username
        </button>
        </div>
        
        
        <div class="input-box">
          <input type="date" placeholder="Date of Birth"  [(ngModel)]="dob" name="dob" formControlName="dob"/>
        </div>
     
      </div>
  
      
  
      <div class="gender-box">
        <h3>Gender</h3>
        <div class="gender-option">
          <div class="gender" *ngFor="let gen of genders">
            <input type="radio" [value]="gen.value"  id="check-male" formControlName="gender"/>
            
            <label for="check-male">{{gen.display}}</label>
          </div>
          <!-- <div class="gender">
            <input type="radio" value="female" id="check-female"  formControlName="gender"/>
            <label for="check-female">Female</label>
          </div>
          <div class="gender">
            <input type="radio" value="other" id="check-other"  formControlName="gender"/>
            <label for="check-other">Prefer not to say</label>
          </div> -->
        </div>
      </div>
  
      <div class="input-box address" formGroupName="address">
        <label>Address</label>
        <input type="text" placeholder="Street address"  formControlName="streetAddress"/>
        <span class="invalidMesage" *ngIf="reactiveForm.get('address.streetAddress')?.invalid && reactiveForm.get('address.streetAddress')?.touched ">*address can not be Empty</span>
    
        <div class="column">
          <div class="select-box">
            <select class="border" name="country" formControlName="country">
              <option>America</option>
              <option>Japan</option>
              <option>India</option>
              <option>Nepal</option>
            </select>
          </div>
          <div class="input-box">
          <input type="text" placeholder="City"  formControlName="city"/>
          <span class="invalidMesage" *ngIf="reactiveForm.get('address.city')?.invalid && reactiveForm.get('address.city')?.touched ">*city can not be Empty</span>
        </div>
        </div>

        <div class="column">
            <div class="input-box">
                <input type="text" placeholder="Region"  formControlName="region"/>
                <span class="invalidMesage" *ngIf="reactiveForm.get('address.region')?.invalid && reactiveForm.get('address.region')?.touched ">*region can not be Empty</span>
            </div>
            <div class="input-box">
                <input type="number" placeholder="Postal code"  formControlName="postalCode"/>
                <span class="invalidMesage" *ngIf="reactiveForm.get('address.postalCode')?.invalid && reactiveForm.get('address.postalCode')?.touched ">*postalcode can not be Empty</span>
     
            </div>
          </div>    
    </div>
    
      <div class="input-box skills" formArrayName="skills">
        <div class="column" *ngFor="let skillControl of setSkillControls() ;let skillFormControlname=index">

          <input type="text" placeholder="Add Skill" 
            [formControlName]="skillFormControlname"> 
            <button class="btn-del-skill" type="button" (click)="removeNewSkill(skillFormControlname)"
            >Remove</button> 
        </div>
      </div>
   
      <button class="btn-gen-skill" type="button" (click)="addNewSkill()"
      >Add Skills</button>
      
      <div class="input-box " formArrayName="experience" *ngFor="let expeGroup of setExperianceControl(); let experianceGroup=index" >
          <div  [formGroupName]="experianceGroup">

            <div class="input-box ">
              <div class="experience" >
                <label>Experience {{experianceGroup+1}}</label>
                <input type="text" placeholder="Company Name" formControlName="companyName" />
                <div class="column">
                  <div class="select-box">
                    <select formControlName="position" class="border">
                      <option>Junior Developer</option>
                      <option>Software Developer</option>
                      <option>Senior Developer</option>
                      <option>Team Lead</option>
                    </select>
                  </div>
                  <input type="number" placeholder="Experience" formControlName="totalExperience" />
                </div>
                <div class="column">
                  <input type="date" placeholder="Start Date" formControlName="starDate" />
                  <input type="date" placeholder="End Date" formControlName="endDate" />
                </div>
                <button type="button" class="btn-del-skill mt-5" (click)="removeNewExperiance(experianceGroup)">Delete Experience</button>
              </div>
            </div>
            
          </div>
        </div>
        <button type="button" style="margin-left: 10px;" class="btn-gen-skill" (click)="addNewExperianceControl()">Add Experience</button>
   
        <div class="column">

        <div class="input-box">
            <b><label for="" class="form-label">Carrer Objective</label></b>
            <textarea class="form-control" formControlName="carrerObjective" rows="2"></textarea>
        </div>
        </div>
     
     <input type="submit" value="Submit" class="submit-btn"
     [disabled]="formStatus==='INVALID'"
     />

     <div class="prescription mt-3" *ngIf="userData">
      <div class="header">
        <h1>UserName:{{userData.fname}} </h1>
      </div>
      <div class="content">
        <h3 ngClass="user-info">Personal Info</h3>
        <div class="patient-info d-flex">
          
          <div class="col-sm-6">  
            <p><strong>First Name:</strong>{{userData.fname}}</p>
            <p><strong>Last Name:</strong> {{userData.lname}}</p>
            <p><strong>Email Id Name:</strong> {{userData.email}}</p>
            <p><strong>Gender:</strong> {{userData.gender}}</p>
            </div>
            <div class="col-sm-4" style="margin-left: 120px;">

              <p><strong>Contact:</strong> {{userData.contact}}</p>
              <p><strong>Username:</strong> {{userData.username}}</p>
              <p><strong>Dob</strong>: {{userData.dob}}</p>
            </div>
          
        </div>

        <h3 ngClass="user-info">Address</h3>
        <div class="doctor-info d-flex">

          <div class="col-sm-6">  

          <p><strong>Street Address:</strong> {{userData.address?.streetAddress}}</p>
          <p><strong>region:</strong> {{userData.address?.region}}</p>
          <p><strong>City:</strong> {{userData.address?.city}}</p>
          <p><strong>PinCode:</strong> {{userData.address?.postalCode}}</p>
          <p><strong>Country:</strong> {{userData.address?.country}}</p>
          </div>
          <div class="col-sm-4" style="margin-left: 50px;">
          <h3>Skills</h3>

            <p *ngFor="let skill of userData.skills; let i=index">
            <strong>{{i+1}}</strong>

              {{skill}}
            </p>

          </div>
        </div>



        <div class="Experiance">
          <h2>Experiance</h2>
          <table>
            <thead>
              <tr>
                <th>No</th>
                <th>CompanyName</th>
                <th>Position</th>
                <th>Experience</th>
                <th>Start Date</th>
                <th>End Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let experiance of userData.experience ; let i=index">
                <td>{{i+1}}</td>
                <td>{{experiance.companyName}}</td>
                <td>{{experiance.position}}</td>
                <td>{{experiance.totalExperience}}</td>
                <td>{{experiance.starDate}}</td>
                <td>{{experiance.endDate}}</td>
              </tr>
              
            </tbody>
          </table>
        </div>
        <div class="instructions">
          <b><label for="" class="form-label">Carrer Objective</label></b>
          <p>{{userData.carrerObjective}}</p>
        </div>
      </div>
    </div>